.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul{
  float: left;
}
.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: calc(10px + 2vmin);
  margin-top: 10vh;
}
h1{
  color: #282c34;
  background-color: lightgrey;
}
h3{
  color: white;
}
label {
  color:white;
  float: left;
}
.input-field{
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  height: 28px;
  padding: 4px 10px;
  margin-bottom: 10%;
}
.submit-button{
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
}


.page-content {
  margin-top:8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

